<html>
  <style>
     body{
         font-size: 15pt;
         font-family: arial;
       }
</style>
<body>
  <h1>Students</h1>

  <td><a href="/">Main Page</a></td>
<form method="POST" action="/add_student">
<p>Add Student: <input type="text" name="name">
<form method="POST" action="/add_student">
UNI: <input type="text" name="uni">
<form method="POST" action="/add_student">
Class Year: <input type="number" name="class_year"><input type="submit" value="Add"></p>
</form>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
    </div>
<form method="POST" action"/stud_avg">
Average score: <input type="submit" value="check"></p>
<form method="POST" action"/stud_range">
Range <input type="submit" value="check"></p>
</html>



