<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <h1>Grades</h1>

  <a href="/">Main Page</a>
  <td><a href="/assignments">Back to Assignments</a></td>

  <table>
  {% for row in data %}
    <tr>
    <td>{{row}}</td>
    </tr>
  {% endfor %}
  </ul>

<body>
<form method="POST" action="/add_grade">
<p>Assignment name: <input type="text" name="name">
</form>
  
<form method="POST" action="/add_grade">
Grade: <input type="number" name="grade">
</form>

<form method="POST" action="add_grade">
<p>Student UNI: <input type="text" name="submitted_by"><input type="submit"></p>
</form>

</body>
</html>
