<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>Main Page</h1>
<p><a href="/student">Students</a>
<tr><a href="/teacher">Teachers</a></tr>
<a href="/courses">Courses</a>
<a href="/grades">Grades</a>
<a href="/department">Departments</a></p>



<form method="POST" action="/add">
Name of new student: <input type="text" name="name">
<form method="POST" action="/add">
UNI: <input type="text" name="uni">
<form method="POST" action="/add">
  <p>Class Year: <input type="number" name="class_year"><input type="submit" value="ADD"></p>
</form>
  <table>
    <tr>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
    </tr>
  </table>
    <div>{{thisyear}}</div>

</body>

</html>
