<html> 
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
</style>
<body>
  <h1>Teachers</h1>
  <p><a href="/assignments">Go to assignments</a>
  <td><a href="/">Main Page</a></td></p>
<form method="POST" action="/add_teacher">
<p>Add Teacher: <input type="text" name="name">
<form method="POST" action="/add_teacher">
UNI: <input type="text" name="uni">
<form method="POST" action="/add_teacher">
Department: <input type="text" name="department"><input type="submit" value="Add">
</p>
</form>
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</html>
